server {
    listen       ${NGINX_PORT};
    listen  [::]:${NGINX_PORT};
    server_name  ${NGINX_HOST};
    return 301 https://${NGINX_HOST}$request_uri;
}
server {
    location / {
       proxy_pass http://${APP_CONTAINER_NAME}:${APP_CONTAINER_PORT};
     }
}
