server {
    listen       ${PORT};
    listen  [::]:${PORT};
    server_name  ${HOST};
    
    location / {
       include uwsgi_params;
       proxy_pass http://${APP_CONTAINER_NAME}:${APP_CONTAINER_PORT};
     }
}
