server {
    listen       ${PORT};
    listen  [::]:${PORT};
    server_name  ${HOST};
    
    location / {
       include uwsgi_params;
       uwsgi_pass ${APP_CONTAINER_NAME}:${APP_CONTAINER_PORT};
    }
}
